{% extends 'blog/base.html' %}

{% block title %}
Контакты - 
{% endblock %}

{% block content %}
<main class="container">

    <h3 class="text-center">Можете обращаться к нам на почту или по номеру телефона.</h3>
    <h3 class="text-center pb-3">Также вы можете написать нам в whatsapp или telegram.</h3>
    <div class="card-group p-4">
        <div class="card" style="width: auto;">
            <div class="card-body">
            <h5 class="card-title">Почта</h5>
            <p class="card-text">otserdtsakserdtsu.77@list.ru</p>
            </div>
        </div>
        <div class="card" style="width: auto;">
            <div class="card-body">
            <h5 class="card-title">Пётр</h5>
            <p class="card-text">+7-987-388-79-73</p>
            </div>
        </div>
        <div class="card" style="width: auto;">
            <div class="card-body">
            <h5 class="card-title">Руслан</h5>
            <p class="card-text">+7-988-102-38-87</p>
            </div>
        </div>
    </div>
    </main>

{% endblock %}