{% extends 'blog/base.html' %}

{% block title %}
Галерея - 
{% endblock %}

{% block content %}

    <main class="container">
      <div class="row"></div>
        {% for gallery in object_list %}
          <h1>{{ gallery.title }}</h1>
            
            <div class="row row-cols-auto">
              {% for photo in gallery.photo_set.all %}
              <div class="col">
                <a href="{{ photo.photo.url }}" data-toggle="lightbox" data-gallery="{{ gallery.title }}">
                  <img src="{{ photo.photo.url }}" height="270" class="py-2">
                </a>
              </div>
              {% endfor %}
            </div>
          <p class="p-2">{{ gallery.description }}</p>
          <hr>
        </div>    
        {% endfor %}
        </div>
      </div>
    </main>
{% endblock %}

{% block lightbox %}
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>
{% endblock %}