{% extends 'blog/base.html' %}

{% block title %}
Галерея - 
{% endblock %}

{% block content %}

    <main class="container">
        <div class="row">
        {% for gallery in object_list %}
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  {% for photo in gallery.photo_set.all %}
                  <div class="carousel-item active">
                    <img src="{{ photo.photo.url }}" class="d-block w-100" alt="...">
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <h1>{{ gallery.title }}</h1>
              <p>{{ gallery.description }}</p>
        </div>    
        {% endfor %}
        </div>
    </main>
{% endblock %}