{% extends 'blog/base.html' %}

{% block title %}
Главная - 
{% endblock %}

{% block content %}
{% load static %}
<main class="container">
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'blog/main1.jpg' %}" class="d-block w-100" alt=""/>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class = "shadow-lg" >Помогать людям с нами - легко</h1>
            <p>Стань волонтером вместе с нами сегодня!</p>
            <p><a class="btn btn-lg btn-primary" href="/about">Хочу помогать</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'blog/main2.jpg' %}" class="d-block w-100" alt=""/>
        <div class="container">
          <div class="carousel-caption">
            <h1 class = "shadow-lg" >Помогаем нуждающимся</h1>
            <p>Обратитесь к нам, когда нужна помощь</p>
            <p><a class="btn btn-lg btn-primary" href="/about">Нужна помощь</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'blog/main3.jpg' %}" class="d-block w-100" alt=""/>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class = "shadow-lg" >Вместе мы сделаем этот мир добрее!</h1>
            <p>Если вы попали в трудную ситуацию или хотите помочь, свяжитесь с нами</p>
            <p><a class="btn btn-lg btn-primary" href="/about">Связаться</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1 class="text-center p-4">Что мы делаем:</h1>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-3 d-flex flex-column position-static">
          <h3 class="mb-0">Помощь волонтеров</h3>
          <div class="mb-1 text-body-secondary">Это врачи, юристы, психологи, фотографы, журналисты, пенсионеры, школьники, студенты. Их объединяет то, что они готовы помогать общественной организации, а ещё оказывать профессиональные услуги — то есть то, что умеют лучше всего — тем, кто нуждается и не может себе позволить</div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img width="200" height="250" src="{% static 'blog/card1.jpg' %}" alt="">
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-3 d-flex flex-column position-static">
          <h3 class="mb-0">Услуги</h3>
          <div class="mb-1 text-body-secondary">Социальные пособия, юридические консультации и сопровождение, психологическая помощь — важная часть социальной поддержки нуждающихся. Получить такую помощь могут те, кто испытывает материальную нужду или нужду по здоровью. Чтобы записаться на приём, нужно нажать на кнопку "Нужна помощь"</div>
           </div>
        <div class="col-auto d-none d-lg-block">
          <img width="200" height="250" src="{% static 'blog/card2.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center p-4">План работы общественной организации «От сердца к сердцу»</h2>
    <ol>
        <li>
            <p class="fw-normal">В 2022 году общественная организация расширяет сферу деятельности как в области реализации социальных проектов и программ, так и в сфере содействия развитию СОНКО в Ставропольском крае и развитию молодежного добровольческого движения в различных сферах деятельности. Мы помогаем делать добро, вовлекаем наших благополучателей в активную добровольческую деятельность; участвуем в реализации проектов и программ молодежной политики.</p>
        </li>
        <li>
            <p class="fw-normal">Приоритетные направления деятельности:</p>
            <ul>
                <li>
                    Это – мой город!» - организация мероприятий и акций для улучшения функционирования и оказания помощи объектам социальной структуры региона КМВ;
                </li>
                <li>
                    «Защита детства» - организация мероприятий и акций в области социального. инклюзивного волонтерства, работа с малообеспеченными семьями и детьми с ограниченными возможностями здоровья;
                </li>
                <li>
                    «Искусство во имя добра» - организация благотворительных концертов, выставок, кинопоказов и т. п;
                </li>
                <li>
                    «Годы-это цветы мудрости» - оказание помощи пожилым людям, социально-медицинская и социально-психологическая помощь; акции в центрах социального обслуживания региона, адресная помощь;
                </li>
                <li>
                    «Объединяем города и страны» - мероприятия в области культурного обмена, всероссийские и международные акции;
                </li>
                <li>
                    «Молодежь - наше завтра» - работа по вовлечению в волонтерскую и добровольческую деятельность молодежи, студентов и школьников, просветительская работа, культурное волонтерство.
                </li>
            </ul>
        </li>
        <li>
          Общественная организация способствует развитию инклюзивного добровольчества; все мероприятия общественной организации организуются в формате «доступной среды»; общественная организация проводит мероприятия по вовлечению инвалидов в активную деятельность, инклюзивные центры, инклюзивные фестивали, инклюзивные проекты.
        </li>
        <li>
          Общественная организация содействует развитию добровольческой деятельности и организации эффективной работы СОНКО Ставропольского края:
        </li>
        <ul>
          <li>
            Систематизация нормативной документации;
          </li>
          <li>
            Формирование волонтерских сообществ в различных сферах деятельности;
          </li>
          <li>
            Обучение основам социального проектирования и эффективной реализации проектов;
          </li>
          <li>
            Создание социальных лифтов для добровольцев;
          </li>
          <li>
            Формирование и развитие системы наставничества
          </li>

        </ul>
        <li>
          Общественная организация разрабатывает собственные проекты и программы для реализации их в содружестве с краевыми НКО и общественными объединениями.
        </li>
        <li>
          Общественная организация способствует объединению и реализации совместных проектов между НКО Ставропольского края, образованию волонтерского содружества;
        </li>
        <li>
          Общественная организация активно развивает фандрайзинговые технологии по вовлечению в работу бизнес-сообщества и привлечению благотворителей;
        </li>
        <li>
          Общественная организация проводит мероприятия по улучшению взаимодействия и образованию содружества «ТРЕТЬЕГО СЕКТОРА» и активных граждан;
        </li>
        <li>
          Общественная организация активно участвует в грантовой и форумной кампании с целью привлечения средств на реализацию проектов, получения иных видов поддержки проектов и программ.
        </li>
        <li>
          Общественная организация проводит мероприятия по повышению уровня образования руководства, сотрудников и волонтеров, формирует систему социальных лифтов;
        </li>
        <li>
          Общественная организация активно участвует в общественной жизни региона КМВ и Ставропольского края.
        </li>
        <li>
          Деятельность общественной организации является открытой для широкой общественности и привлечения творческих. человеческих и материальных ресурсов для ее осуществления.
        </li>
    </ol>

  </main>
{% endblock %}